<div lpCourseCardHighlight [creationDate]="course.creationDate"
     [ngClass]="['card p-3 mb-3 rounded e2e-course-card', bgClass]">
  <div class="card-body row">
    <div class="col-11">
      <h4 class="card-title">
        <a routerLink="/courses/{{course.id}}" class="e2e-course-card-title">{{ course.title | uppercase }}</a>
        <i *ngIf="course.topRated" class="fa fa-star pl-2 star-icon"></i>
      </h4>
      <h6 class="card-subtitle text-muted">
        <span class="mr-3">
          <i class="far fa-clock pr-1"></i>
          <span>{{course.duration | duration}}</span>
        </span>
        <span>
          <i class="far fa-calendar-alt pr-1"></i>
          <span>
            {{course.creationDate | date:'dd MMM yyyy'}}
          </span>
        </span>
      </h6>
      <div>{{ course.description }}</div>
    </div>
    <div class="col-1">
      <div>
        <button class="btn btn-sm btn-link" routerLink="/courses/{{course.id}}/edit">Edit</button>
        <button class="btn btn-sm btn-link" (click)="pendingDeletionConfirmation = true">Delete</button>
      </div>
    </div>
  </div>
</div>

<lp-confirmation-modal
  *ngIf="pendingDeletionConfirmation"
  title="Are you sure you want to delete this course?"
  description="The course will be permanently deleted."
  (confirm)="delete.emit(course.id)"
  (dismiss)="pendingDeletionConfirmation = false"
>
</lp-confirmation-modal>
