<div class="card bg-white p-3 mb-3 rounded">
  <div class="card-body row">
    <div class="col-11">
      <h4 class="card-title">
        <a routerLink="/courses/{{course.id}}">{{ course.title }}</a>
      </h4>
      <h6 class="card-subtitle text-muted">
      <span>
        {{course.duration}}
      </span>
        <span>
        {{course.creationDate}}
      </span>
      </h6>
      <div>{{ course.description }}</div>
    </div>
    <div class="col-1">
      <div>
        <button class="btn btn-sm btn-link">Edit</button>
        <button class="btn btn-sm btn-link">Delete</button>
      </div>
    </div>
  </div>
</div>
